@charset "UTF-8";
/* 博文字体设置 */
* {
  scroll-behavior: smooth;
  letter-spacing: 0.6px;
  font-size: 14px; }

.book-menu h1 {
  font-weight: 800;
  font-size: 15px;
  text-shadow: 0 1px 0px #ffffff; }

.accordion label {
  margin-left: 11px; }

.book-sidebar .book-menu .uncollapsible {
  padding-top: 6px; }

/* 标签页设置 */
.tag-list {
  margin: 0; }

.tag-list-item {
  float: left;
  margin-right: 10px;
  padding: 1px 15px 1px 15px;
  list-style: none;
  border: 1px solid silver;
  border-radius: 2px; }

.uncollapsible:last-of-type {
  display: block;
  border-top: 10px solid red; }

.book-brand {
  margin-top: -2px; }

.book-brand span {
  font-size: 17px; }

.book-post img {
  box-shadow: 0px 0px 8px -5px black;
  margin-top: 15px;
  margin-bottom: 5px; }

.book-tocbot {
  height: 250px;
  padding: 0; }

.book-post-info {
  max-width: 12rem !important; }

.book-sidebar {
  box-shadow: 0px 0 9px 0px #cacacad9; }

.hide-lg {
  margin-top: -44px;
  padding-top: 40px;
  box-shadow: 0px -40px 18px -15px black;
  background-image: url("https://s1.ax1x.com/2020/08/21/dNXh1H.png");
  background-position: bottom;
  background-repeat: no-repeat; }

.bottom {
  width: 266px;
  height: 315px;
  position: absolute;
  border-top: 3px solid #2da4e1;
  left: -23px;
  bottom: -20px;
  background-color: rgba(36, 39, 41, 0.69); }

.bottom > span {
  color: white;
  display: block;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center; }

.link_l {
  padding-left: 15px;
  display: block;
  width: 155px;
  height: 36px;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box; }

.bottom a div {
  width: 28px;
  height: 28px;
  float: left;
  margin-top: 5px; }

.bottom a > span {
  color: white;
  font-weight: bold;
  margin-left: 6px;
  line-height: 38px; }

.languages {
  display: block;
  margin-top: 30px;
  text-align: center;
  color: black;
  font-weight: bold;
  margin-top: 200px; }

.english {
  color: white !important;
  display: inline !important; }

.links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

/*图片轮播*/
.pics {
  width: 100%;
  height: 450px;
  position: relative;
  transition: 0.5s; }

.coverblack {
  width: 951px;
  height: 450px;
  background-color: black;
  position: absolute;
  top: 8px;
  z-index: -1000; }

#wrap {
  left: 0;
  /*margin:auto;*/
  width: 100%;
  height: 450px; }

#wrap > ul {
  /*width: 100%;*/
  margin-left: 0px;
  list-style: none;
  float: left;
  box-shadow: 0px 10px 18px -5px black;
  list-style: none !important; }

#wrap > ul > li {
  float: left;
  width: 50px;
  height: 450px;
  cursor: pointer;
  padding: 0 !important;
  list-style: none !important; }

#wrap > ul > li:nth-child(1) {
  background: url(https://s1.ax1x.com/2020/09/02/w91ixs.jpg) no-repeat center/cover;
  width: 900px; }

#wrap > ul > li:nth-child(2) {
  background: url(https://s1.ax1x.com/2020/09/02/w91kMn.jpg) no-repeat center/cover; }

/*#wrap > ul > li:nth-child(4){*/
/*    background: url('/me/images/test_3.jpg') no-repeat center/cover;*/
/*}*/
#wrap > ul > li > .text {
  width: 50px;
  height: 100%;
  float: left;
  background: #000;
  opacity: 0.7; }

#wrap > ul > li > .text p {
  /*padding: 20px 20px;*/
  margin: -10px -27px;
  font-family: "Microsoft yahei";
  writing-mode: vertical-lr;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  text-indent: 0.125em;
  margin-top: 180px; }

/*回到旧站*/
.backtoanulife {
  width: 100%;
  padding-left: 12px;
  padding-right: 15px;
  background-color: #fd4300;
  font-size: 40px;
  color: white;
  line-height: 100px;
  text-align: center;
  text-shadow: 3px 3px #141145;
  box-shadow: #141145 2px 2px 0px; }

/*gitalk&valine双评论端*/
.valine_btn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  /*background-color: #FFFFFF;*/
  float: left;
  text-align: center;
  color: blue; }

.gitalk_btn {
  width: 180px;
  height: 40px;
  line-height: 40px;
  /*background-color: #FFFFFF;*/
  float: left;
  text-align: center;
  color: black; }

.moving {
  width: 120px;
  height: 2px;
  margin-top: 40px;
  background-color: blue;
  position: absolute; }

#gitalk-container {
  display: none; }

#vcomments {
  margin-top: 20px !important; }

.combtn {
  width: 302px;
  height: 42px;
  cursor: pointer;
  margin-top: 50px; }

.backlogo {
  background-image: url("https://s1.ax1x.com/2020/05/21/YbwVUI.th.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  position: fixed;
  bottom: 30px;
  z-index: -1; }

.accordion-body, .uncollapsible, .accordion {
  background-color: #f7f8f9; }

/*游戏页面*/
.textnintendoswitch {
  width: 30px;
  height: 1420px;
  margin-right: 10px;
  background-color: #fc0001;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 1px;
  float: left; }

.leftgames a {
  width: 670px;
  display: block; }

.leftgames {
  float: left; }

.pcgames,
.switchgames {
  overflow: hidden;
  width: 100%;
  height: auto; }

.textPC {
  width: 30px;
  height: 1660px;
  margin-right: 10px;
  background-color: black;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 1px;
  float: left;
  margin-top: 40px; }

.gameto {
  width: 670px;
  height: 100px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;
  overflow: hidden; }

.bp {
  width: 670px;
  height: 100px;
  background-color: black;
  position: absolute;
  z-index: 0;
  opacity: 0; }

.gametitle {
  width: 670px;
  text-align: center;
  position: relative;
  float: left;
  z-index: 100;
  font-size: 20px; }

.gamepages {
  width: 80px;
  height: 100px;
  position: absolute;
  float: right;
  right: -80px;
  font-size: 20px;
  background-color: black;
  color: white;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  z-index: 101; }

/*作品*/
.shits {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 10px; }

.myProc {
  width: 328px;
  height: 264px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #3c3f41;
  color: white;
  position: relative;
  box-shadow: 0px 10px 18px -10px black;
  /*overflow: hidden;*/ }

.shit_title_img {
  width: 320px;
  height: 200px;
  background-position: center;
  background-size: cover;
  margin-left: 4px;
  margin-top: 4px;
  box-shadow: 0px 10px 18px -10px black; }

.shits span:last-of-type {
  display: block;
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  position: absolute;
  width: 328px;
  height: 12px;
  bottom: 8px;
  overflow: hidden; }

.shits span:first-of-type {
  display: block;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
  width: 328px;
  position: absolute;
  bottom: 20px; }

.shits i {
  display: none; }

.cutline {
  width: 100%;
  height: 22px;
  border-bottom: 1px solid #bebebe;
  float: none !important;
  color: #bebebe;
  text-align: center; }

.cutline b {
  background-color: white;
  line-height: 38px;
  font-size: 20px; }

.book-sidebar, .book-sidebar .book-menu {
  width: 13rem !important; }

.book-sidebar .book-brand {
  left: 1.7rem !important; }

.book-sidebar .book-menu ul {
  padding-left: 24px !important;
  margin-left: 0 !important;
  padding-top: 4px !important; }

.off-canvas-content {
  padding: 1.2rem 2.2rem !important; }

.sidebar-toggle {
  left: 13.7rem !important; }

.town {
  width: 100%;
  height: 100px;
  border: 1px dotted gray;
  text-align: center;
  line-height: 100px;
  margin-top: 20px;
  font-size: 19px;
  color: #00000052; }

/*回到顶部*/
.book-post {
  position: relative; }

.to_top {
  width: 60px;
  height: 60px;
  bottom: 0;
  right: 310px;
  color: lightgray;
  background-color: rgba(36, 39, 41, 0.49);
  text-align: center;
  line-height: 60px;
  /*box-shadow: 0px 2px 10px -6px black;*/
  position: fixed;
  display: none;
  cursor: pointer;
  font-size: 30px;
  font-family: "Calibri"; }

.articleBottom {
  width: 100%;
  height: 28px;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  color: #bebebe;
  border-bottom: 1px solid #bebebe; }

.articleBottom b {
  background-color: white; }

/*文章头图*/
.articlehead {
  width: 100%;
  height: 400px;
  background-position: center;
  margin-bottom: 20px; }

/* 友情链接 */
.friendUrl {
  font-size: 10px;
  color: #999ca8 !important; }

.friendUrl:hover {
  color: #2da4e1 !important; }

.myProjects_shit_title_img {
  width: 320px;
  height: 200px;
  background-position: center;
  background-size: cover;
  float: left;
  /* margin-left: 4px;
  margin-top: 4px; */
  box-shadow: 0px 10px 18px -10px black; }

.myProjects_introduce {
  float: left;
  height: 200px;
  margin-left: 20px;
  padding-left: 15px;
  border-left: 2px solid #DADEE4; }

.little_img {
  width: 84px;
  height: 26px;
  margin: -2px 0 0 0 !important;
  box-shadow: none !important;
  display: inline-block !important;
  position: absolute; }

.book-post-info {
  background-color: rgba(255, 255, 255, 0.432); }

/* 网页常用颜色 */
.colorBoard {
  padding: 10px;
  width: 210;
  height: 90px;
  float: left; }
  .colorBoard .btn {
    width: 70px;
    height: 70px;
    float: left;
    padding: 0;
    text-align: center;
    border-radius: 0;
    line-height: 75px;
    font-size: 6px;
    cursor: pointer;
    text-shadow: 1px 1px 2px #000000;
    border: 0;
    color: #fff;
    position: relative;
    transition: 0.2s all; }
  .colorBoard .btn:first-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
  .colorBoard .btn:last-of-type {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; }
  .colorBoard .btn:hover {
    box-shadow: 0 0 5px 0px #bdbdbd;
    font-weight: bolder;
    z-index: 1; }

.clipboard_success {
  width: 300px;
  height: 90px;
  position: fixed;
  top: calc( 50vh - 50px);
  left: calc( 50vw - 150px);
  border-radius: 20px;
  font-size: 50px;
  line-height: 90px;
  text-align: center;
  z-index: 2;
  box-shadow: 0 0 20px 0px #d6d6d6;
  background-color: rgba(255, 255, 255, 0.829);
  display: none;
  transition: 1s all;
  cursor: default;
  opacity: 0; }
