/*$("body").css({backgroundColor:"#2B2B2B"});*/
/*$(".book-menu").css({backgroundColor:"#3C3F41"});*/
/*$(".book-brand").css({backgroundColor:"#3C3F41"});*/
/*$(".book-sidebar").css({backgroundColor:"#3C3F41"});*/
/*$("body").css({color:"#EBEEF0"});*/
/*$(".book-brand span").css({color:"#EBEEF0"});*/
/*$(".book-menu a").css({color:"#EBEEF0"});*/

body{
    background-color: #2B2B2B !important;
    color:#EBEEF0 !important;
}
.book-menu{
    background-color: #3C3F41 !important;
}
.book-menu a{
    color: #EBEEF0 !important;
}
.book-brand{
    background-color: #3C3F41 !important;
}
.book-brand span{
    color:#EBEEF0 !important;
}
.book-sidebar{
    background-color: #3C3F41 !important;
}